.sayac1{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(#7e36ddad, #ab8ed1ad);
    flex-wrap: wrap;
    justify-content: center;
}

.eleman{
    font-size: 30px;
    padding: 20px;
    width: 100px;
    background-color: aqua;
    margin: 20px;
    text-align: center;
}
.sayi{
    font-size: 5vmax;
}
@media all and (max-width:576px) {
    font-size: 5vmin;
}